.section-results {
  margin-bottom: 10rem;
  padding: 0 4rem;

  .results {
    text-align: center;
    min-height: 46.0rem;

    &-album-title {
      margin-bottom: .5rem;
    }

    &-album-artist {
      margin-bottom: 1.5rem;
    }

    &-album-img-container {
      display: inline-block;
      margin-bottom: 4.5rem;
      padding: .5rem;
      background: #fff;
      border: 1px solid rgba($shade-light, .4);

      opacity: 0;
      animation-name: fadein;
      animation-duration: 0.8s;
      animation-delay: 1.6s;
      animation-fill-mode: forwards;

      &:hover i {
        transform: translate(-50%, -50%) scale(1.0);
        transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }

      &:hover img {
        opacity: .4;
        filter: grayscale(100%);
      }
    }

    &-album-img {
      display: block;
      max-width: 100%;
      border: 1px solid rgba($shade-light, .2);
      transition: opacity .5s, filter .5s;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 7rem;
      line-height: 8rem;
      height: 8rem;
      width: 8rem;
      color: $color-primary;
      background: #fff;
      border-radius: 50%;

      transform: translate(-50%, -50%) scale(0.0);
      transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    .alert-msg {
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: .25px;
      color: $shade-dark;
    }
  }
}