.section-form {
  margin-bottom: 2rem;
  padding: 0 4rem;

  .form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      font-family: $font-primary;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: .5px;
      margin-bottom: 1rem;
      padding: 2rem;
      color: $shade-dark;
      border: 1px solid rgba($shade-light, .4);
      border-radius: 20px;
      outline: 0;

      &:focus {
        border: 1px solid $color-primary;
      }
    }

    ::placeholder {
      color: rgba($shade-light, .4);
    }
  }

  .form-buttons {
    display: flex;
    justify-content: center;

    button {
      font-family: $font-primary;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      width: 100%;
      padding: 2rem;
      color: #fff;
      background: $color-primary;
      border: none;
      border-radius: 20px;
      outline: 0;
      cursor: pointer;
      transition: all .2s ease;

      &:hover {
        background: $color-primary-light;
      }
    }
  }
}