$site-width: 54rem;

$font-primary: 'Fraunces', serif;
$font-secondary: 'Poppins', sans-serif;

$color-primary: #ff5252;
$color-primary-dark: #c50e29;
$color-primary-light: #ff867f;

$shade-dark: #000000;
$shade-medium: #212121;
$shade-light: #484848;