// fonts
$font-stack: 'Fraunces', serif;

// colors
$color-primary: #f50057; // dark text
$color-primary-light: #ff5983; // dark text
$color-primary-dark: #bb002f; // light text

$color-light: #484848;
$color-medium: #212121;
$color-dark: #000000;

$section-padding: 0 4.0rem;
$border-radius: 2.0rem;