@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

$font-stack: 'Lato', sans-serif;
$primary: #ec407a;
$primary-light: #ff77a9;
$primary-dark: #b4004e;
$medium-light: #e0e0e0;
$medium-dark: #aeaeae;
$light: #fff;
$dark: #000;

$bg-img: url('../images/mick-haupt.jpg');