// fonts
$font-stack: 'Lato', sans-serif;

// colors
$color-primary: #e91e63; // dark
$color-primary-light: #ff6090; // dark
$color-primary-dark: #b0003a; // light

$color-light: #484848;
$color-medium: #212121;
$color-dark: #000000;