*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: linear-gradient(to bottom, rgba($shade-medium, .7), rgba($shade-dark, 1)), url('../images/sean-benesh.jpg') no-repeat fixed center/cover;
  background-attachment: fixed;
}